.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 3px 10px;
  background-color: var(--color-primary);
  border-radius: 5px;
  color: white;
  transition: var(--main-transition);

  &__name {
    font-size: 0.875rem;
  }
}
