@import '../../../styles/_media_queries.scss';

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: var(--main-transition);

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: calc(var(--coverPhotoWidth) / -5);
    max-width: 850px;
    width: 100%;
    height: 100%;
    transition: var(--main-transition);

    @include mobileLarge {
      margin-top: -10%;
    }

    &__coverPhoto {
      height: var(--coverPhotoWidth);
      overflow: hidden;
      width: 100%;

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__avatar {
      &__item {
        @include mobileLarge {
          flex-direction: column;
          align-items: flex-start;
        }

        &__name {
          font-size: clamp(1.25rem, 2vw, 1.7rem);
          font-weight: 600;
          color: var(--main-color);
        }

        &__img {
          border: 5px solid var(--white);
          width: clamp(100px, 20vw, 175px);
          height: clamp(100px, 20vw, 175px);
          border-radius: 50%;
        }
      }
    }
  }

  &__personalInfo {
    margin-top: 1rem;
    transition: var(--main-transition);

    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      border: 1px solid var(--accents-2);
      padding: 2rem 1.3rem 1.3rem 1.3rem;
      border-radius: var(--border-radius);
      max-width: 820px;
      transition: var(--main-transition);

      &__text {
        font-size: 0.875rem;
        font-weight: 600;
        margin-top: -5.3%;
        width: fit-content;
        padding: 0 0.5rem 0 0;
        color: var(--accents-5);
        background-color: var(--white);
        transition: var(--main-transition);
      }

      &__group {
        display: flex;
        gap: 2rem;
        transition: var(--main-transition);

        @include mediaquery(455px) {
          flex-direction: column;
          gap: 0;
        }

        div {
          width: 100%;
          transition: var(--main-transition);
        }

        &__input {
          margin-bottom: 1rem;
          font-size: 0.875rem;
        }

        &__button {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-top: 0.5rem;
          transition: var(--main-transition);

          &__item {
            font-size: 0.875rem;
            transition: var(--main-transition);
          }
        }
      }
    }
  }
}
