.infoCard {
  // cursor: pointer;
  position: relative;

  &__item {
    // text-align: start;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--accents-4);
    padding-bottom: 1rem;
    transition: var(--main-transition);

    &:nth-child(-n + 2) {
      text-align: start;
    }

    &__name {
      display: flex;
      gap: 0.625rem;
      flex-direction: column;
      transition: var(--main-transition);

      &__text {
        font-size: 1rem;
        font-weight: 600;
        max-width: 400px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: var(--main-transition);
      }

      &__tags {
        display: flex;
        gap: 0.5rem;
        overflow: hidden;
        transition: var(--main-transition);

        &__item {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.875rem;
          font-weight: 500;
          color: var(--accents-5);
          transition: var(--main-transition);
        }
      }
    }

    &__members {
      display: flex;
      align-items: center;
      gap: 1rem;
      transition: var(--main-transition);
    }

    &__roleName {
      min-width: 135px;
    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      transition: var(--main-transition);
    }
  }

  &__dropdown {
    z-index: 99999;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    // bottom: 86px;
    right: 0;
    width: 250px;
    padding: 0.5rem 1rem;
    animation: var(--animation-dropdown);
    background-color: var(--color-primary);
    border-radius: var(--border-radius);

    &__item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      color: var(--white);
      width: 100%;
      cursor: pointer;
      border-radius: var(--border-radius);
      transition: var(--main-transition);

      &:hover {
        background-color: var(--color-primary-light);
        transition: var(--main-transition);
      }
    }
  }
}
